<html>
    <head>
        <title>MegaCorp by TEMPLATED</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />

     
        <script src="node_modules/jquery/dist/jquery.js"></script>
        <script src="build/app.min.js"></script>
        <script src="build/library.min.js"></script>
        <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
       
        <link rel="stylesheet" href="css/font-awesome.css" />
        <noscript>
            <link rel="stylesheet" href="css/skel-noscript.css" />
            <link rel="stylesheet" href="css/style.css" />
            <link rel="stylesheet" href="css/style-desktop.css" />
        </noscript>
        <link rel="stylesheet" href="build/main.min.css" ></link>

      
    </head>
    <body class=""  
    	  ng-app="junYuHomeApp"
    	  ng-controller="HomeCtrl" >
        <div id="header-wrapper" >
            <div id="header" class="container"> 
                <nav id="nav">
                    <ul>
                        <li ng-repeat="item in Menu">
                            <a href="{{item.tag}}" ng-click="toTag(item.tag)">
                               
                                {{item.name}}
                            </a>
                        </li>   
                    </ul>
                </nav>   
            </div>

            <div id="banner">
                <div class="container">
                    <div class="row">
                        <section class="12u">
                            <header>
                                <img src="images/logo.png">
                            </header>
                        </section>
                    </div>
                </div>
            </div>          
        </div>
        <div id="Company">
            <div class="container">
                <div class="row">
                    <div id="content" class="8u">
                        <article>
                            <header>
                                <h2>公司簡介</h2>
                            </header>
                            
                            <a  class="image-style1">
                                <img src="images/img_10_Fotor.jpg" alt="">
                            </a>
                            <p>
                                我司本著誠信,品質,以及更新設備完善管理之理念,實行優質的產品開發,穩定的製造加工,為廣大客戶群服務
                            </p>
                            <p> 
                                主要產品：水鑽,貼紙,銘版,證章,電子零件,香水瓶,精油瓶,禮贈品,多材質擺飾
                            </p>
                        </article>
                    </div>
                    <div id="sidebar" class="4u">
                        <section class="12u">
                          
                            <ul class="style4">
                                <li class="first">
                                    <h3>開發</h3>
                                    <p>
             
                                        以專案產品之需求,配合各行業產品開模,開版設計,備有多項軟體支援配合開發使用
                                 
                                    </p>
                                </li>
                                <li>
                                    <h3>包裝</h3>
                                    <p>
                                        我司秉持著以各大電子公司品保規格嚴格把關,並跟進百貨精品專櫃高品質感包裝,從內到外,包含內襯,墊層,內貼標,紙盒,外貼標...等等
                                    
                                    </p>
                                </li>
                                <li>
                                    <h3>製造</h3>
                                    <p>
                                      
                                        單款多用,以多種材質配合各專案,例如金屬,塑膠,玻璃,水晶,水鑽...等等,製造出專款產品之優勢
                                
                                    </p>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="Product">
            <div class="container">

                <div class="row double">
                 
                    <section class="4u" ng-repeat="item in Product">
                       <header>
                            <h2>{{item.name}}</h2>
                            <p>{{item.english}}</p>
                       </header>

                        <div class="pennant">
                        <img src="{{item.icon}}" alt="">
                        </div>
                        <div>
                            <a ng-click="productClick(item.href)" class="button button-style1">
                                看更多
                            </a>
                        </div>
                    </section>

                </div>
            </div>
        </div>
        <div id="Contact" class="container">
            <div class="row">
                <div class="6u cont_left" >
                     <img src="images/網頁版logo.png">
                </div>
                <div class="6u cont_right">
                    <p>
                        <i class="fa fa-user fa-fw"></i>
                        研發部 張先生 / 業務經理
                    <p>
                    <p>
                       <i class="fa fa-user fa-fw"></i>
                        印刷部 王小姐 / 業務經理
                    </p>
                    <p>
                        <i class="fa fa-envelope-o fa-fw"></i>
                        <a href="mailto:Metal@junyu.com.tw">Metal@junyu.com.tw </a>
                    </p>   
                    <p>
                        電話：(02)2267-5182
                    </p>
                    <p>
                        傳真：(02)8192-7407
                    </p>
                    <p>
                        台灣 236 新北市土城區亞洲路150號</p>
                    </p>
                </div>
            </div>
        </div>
    </body>    
</html>



      